body {
  background: #fff;
  font: roboto;
}

ul {
  list-style-type: none;
}

#links li {
  float: right;
}



input[type=file] {
  text-align: center;
}


/*********************************************************************************/
/* Header                                                                        */
/*********************************************************************************/

#header {
  font-size: 40px;
  color: #fff;
  margin-top: 5%;

}

/*********************************************************************************/
/* Header Menu                                                                        */
/*********************************************************************************/



.header_menu {
  margin: 0 auto;
  position: relative;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#sign_menu {
  float: right;
}